@media only screen and (max-width: 760px) and (orientation: portrait) {
  .score-panel {
    width: 99vw;
  }
}

.score {
  background-color: #ffb000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 2.7vw;
  font-weight: bold;
}

.score .divider {
  border-bottom: 1px solid black;
  width: 100%;
}
