@media only screen and (min-width: 761px) and (max-width: 1024px) and (orientation: portrait) {
  .ship-wrapper div.ship {
    height: 8vh;
  }
}

.ships .ship-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ship-wrapper .ship {
  background-size: contain;
  width: 14vw;
  height: 10vh;
}

.ships .miss {
  background: white url("img/Miss_small.png") no-repeat center;
  width: 5vh;
  height: 5vh;
  background-size: contain;
}

.ships .battleship {
  background: url("img/battleship.png") left center / contain no-repeat white;;
}

.ships .carrier {
  background: url("img/carrier.png") left center / contain no-repeat white;;
}

.ships .cruiser {
  background: url("img/cruiser.png") left center / contain no-repeat white;;
}

.ships .destroyer {
  background: url("img/destroyer.png") left center / contain no-repeat white;;
}

.ships .submarine {
  background: url("img/submarine.png") left center / contain no-repeat white;;
}

.ships .hit {
  background: white url("img/Hit_small.png") no-repeat center;
  width: 5vh;
  height: 5vh;
  background-size: contain;
}