@media only screen and (max-width: 760px) and (orientation: portrait) {
  .ships {
    height: 32vh;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1024px) and (orientation: portrait) {
  .ships {
    height: 24vh;
  }
}

.ships {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}