@media only screen and (min-width: 761px) and (max-width: 1024px) and (orientation: portrait) {
  .area-wrapper div.status {
    flex-direction: row;
    align-items: center;
  }
}

.area-wrapper .status {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
}