
.grid {
  display: grid;
  grid-template-columns: repeat(10, auto); /* three columns */
  grid-template-rows: repeat(10, auto); /* three rows  */
  border: 3px solid #ffb000;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  background-color: #979797;
  width: 50vw;
  height: 49vw;
}

.grid .cell {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid .hit {
  background: white url("img/Hit.png") no-repeat center;
  background-size: 80%;
}

.grid .miss {
  background: white url("img/Miss.png") no-repeat center;
  background-size: 80%;
}

.grid .died {
  background: white url("img/Died.png") no-repeat center;
  background-size: 80%;
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  div.grid {
    width: 98vw;
    height: 98vw;
  }
}