
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .area-wrapper {
    flex-direction: column-reverse;
  }
}

.area-wrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
